* {
  box-sizing: border-box;
}

.app-container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 50vw;
  height: 56px;
  margin-bottom: 8px;
  font-size: 1.5rem;
  border: 1px solid #000;
  border-radius: 5px;
  text-indent: 12px;
}

.lists {
  width: 50vw;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 5px;
}


.item {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46vw;
  height: 56px;
  margin: 8px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}